<div class="container">
    <div style="display:grid; justify-content:space-evenly align-content:space-evenly;">
        <a href="/user/addList" class="btn btn-success">Add Tasks</a>
        <a href="/user/taskCounts" class="btn btn-primary">Show count</a>
    </div>

    <br>
    <div class="row">
        <div class="col-md">
            <h4>Not completed</h4>
            {{#each nontasks}}
            <div class="card" style="width:20rem;">
                <div class="card-body">
                    <h5 class="card-title">{{this.task}}</h5>
                    <p class="card-text tex-muted">{{this.desc}}</p>
                    {{!-- <a href="addList/edit?id={{this._id}}&comp={{this.completion}}" class="btn btn-primary">Edit</a>
                    <a href="/delete?id={{this._id}}&comp={{this.completion}}" class="btn btn-danger"
                        onclick="return confirm('Do you want to delete?')">Delete</a> --}}
                    {{!-- <a href="/moveToWorking/{{this._id}}" class="card-link">Working</a>
                    <a href="/moveToComplete/{{this._id}}" class="card-link">Completed</a> --}}
                </div>
            </div>
            {{/each}}

        </div>
        <div class="col-md">
            <h4>In progress</h4>
            {{#each intasks}}
            <div class="card" style="width:20rem;">
                <div class="card-body"><h5 class="card-title">{{this.task}}</h5>
                    <p class="card-text tex-muted">{{this.desc}}</p>
                    {{!-- <a href="addList/edit?id={{this._id}}&comp={{this.completion}}" class="btn btn-primary">Edit</a>
                    <a href="/delete?id={{this._id}}&comp={{this.completion}}" class="btn btn-danger"
                        onclick="return confirm('Do you want to delete?')">Delete</a> --}}

                </div>
            </div>
            {{/each}}
        </div>
        <div class="col-md">
            <h4>Completed</h4>
            {{#each comtasks}}
            <div class="card" style="width:20rem;">
                <div class="card-body">
                    <h5 class="card-title">{{this.task}}</h5>
                    <p class="card-text tex-muted">{{this.desc}}</p>
                    {{!-- <a href="addList/edit?id={{this._id}}&comp={{this.completion}}" class="btn btn-primary">Edit</a>
                    <a href="/delete?id={{this._id}}&comp={{this.completion}}" class="btn btn-danger"
                        onclick="return confirm('Do you want to delete?')">Delete</a> --}}

                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>